.heading {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav {
  display: flex;
}
.nav-item {
  display: flex;
  list-style-type: none;
}

.nav-item li  {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  
}
.nav-item a{
  text-decoration:none;
}

.logo-img {
  height: 100px;
}

.search {
  display: flex;
  margin: 20px;
}

.search > input {
  border-radius: 10px;
}
.search-btn{
  padding: 5px;
  margin-left: 5px;
}

.body {
  margin-top: 5px;
}
.res-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr
}
.res-card {
  height: 300px;
  width: 230px;
  margin: 5px;
  background-color: rgb(249, 245, 245);
  border-radius: 10px;
  cursor: pointer;
}
.res-card:hover {
  border: 1px solid black;
}

.res-card-img-container {
  padding: 5px;
}

.res-card-img {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 0px;
}
.res-card-heading {
  margin-top: -23px;
}
.res-card-rating {
  margin-top: -20px;
}
.res-card-key {
  margin-top: -15px;
}
.res-card-key > p {
  color: rgb(120, 112, 112);
  margin-left: 5px;
}
.btn-container{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;

}
.btn-login{
  padding: 5px;
  cursor: pointer;
}


.shrimmer-container{
 display: grid;
 grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

.shrimmer-card{
    height: 300px;
  width: 230px;
  margin: 5px;
  background-color: rgb(249, 245, 245);
  border-radius: 10px;
}